<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <ul>-1-
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>
    <br>
    <ul>-2-
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>
    <br>
    <div v-for="item of items">
        {{ item.message }}
    </div>
    <br>
    <ul>-4-
        <template v-for="item in items">
            <li>{{ item.message }}</li>
            <li class="divider">1</li>
        </template>
    </ul>
    <ul class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
    </ul>
    <div v-for="(value, key) in object">
        {{ key }} : {{ value }}
    </div>
    <br>
    <div v-for="(value, key, index) in object">
        {{ index }}. {{ key }} : {{ value }}
    </div>
    <br>s
    <div>
        <span v-for="n in 10">{{ n }}</span>
    </div>
</div>
<script src="../../../bower_components/vue2/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            parentMessage: 'Parent',
            items: [
                {message: 'foo'},
                {message: 'Bar'}
            ],
            object: {
                FirstName: 'John',
                LastName: 'Doe',
                Age: 30
            }
        },
        methods: {}
    })
</script>
</body>
</html>