# demo

# “silent”、“error”、“warn”、“notice”、“http”、“timing”、“info”、“verbose”或“silly”
# loglevel=http
strict-ssl=false
package-lock=false
legacy-peer-deps=true
# registry=https://mirrors.tencent.com/npm/
registry=https://registry.npmmirror.com
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver/
electron_mirror=https://npm.taobao.org/mirrors/electron/
npm_config_sharp_libvips_binary_host="https://cdn.npmmirror.com/binaries/sharp-libvips"
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
profiler_binary_host_mirror=http://npm.taobao.org/mirrors/node-inspector/
PUPPETEER_DOWNLOAD_BASE_URL="https://cdn.npmmirror.com/binaries/chrome-for-testing"
python_mirror=http://npm.taobao.org/mirrors/python/
