<!DOCTYPE html>
<html ng-app="yhtml5" ng-controller="myCtrl">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../bootstrap.min.css">
		<script src="../angular.js"></script>
	</head>

	<body>
		<div class="container m-t-3">
			<div class="card-deck-wrapper">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">ng-app 指令</h3>
						</div>
						<div class="card-block">
							<ul>
								<li>ng-app 指令定义了 AngularJS 应用程序的 根元素。</li>
								<li>ng-app 指令在网页加载完毕时会自动引导（自动初始化）应用程序。</li>
								<li>ng-app 通过一个值（比如 ng-app="myModule"）连接到代码模块</li>
							</ul>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">ng-init 指令</h3>
						</div>
						<div class="card-block">
							<ul>
								<li>ng-init 指令为 AngularJS 应用程序定义了 初始值</li>
								<li>通常情况下，不使用 ng-init。您将使用一个控制器或模块来代替它</li>
							</ul>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">ng-repeat 指令</h3>
						</div>
						<div class="card-block">
							<ul>
								<li>ng-repeat 指令对于集合中（数组中）的每个项会 克隆一次 HTML 元素</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-deck-wrapper m-t-3">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">ng-model 指令</h3>
						</div>
						<div class="card-block">
							<ul>
								<li>ng-model 指令 绑定 HTML 元素 到应用程序数据</li>
								<li>为应用程序数据提供类型验证（number、email、required）</li>
								<li>为应用程序数据提供状态（invalid、dirty、touched、error</li>
								<li>为 HTML 元素提供 CSS 类</li>
								<li>绑定 HTML 元素到 HTML 表单</li>
							</ul>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">自定义的指令</h3>
						</div>
						<div class="card-block">
							<ul>
								<li>使用 .directive 函数来添加自定义的指令</li>
								<li>要调用自定义指令，HTMl 元素上需要添加自定义指令名</li>
								<li>使用驼峰法来命名一个指令， yhtml5Directive, 但在使用它时需要以 - 分割, yhtml5-directive</li>

							</ul>
						</div>
						<div class="card-block">
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">自定义指令输出</h3>
						</div>
						<div class="card-block">
							<p>你可以通过元素名、属性、类名、注释的方式来调用指令：</p>
							<yhtml5-directive></yhtml5-directive>
							<div yhtml5-directive></div>
							<div class="yhtml5-directive">类名无效</div>
							<!-- directive: yhtml5-directive-->注释无效
						</div>
					</div>
				</div>
			</div>
			<div class="card-deck-wrapper m-t-3">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">表达式</h2>
						</div>
						<div class="card-block">
							<p>Double-curly binding with an expression</p>
							<p>名字 : <input type="text" ng-model="name"></p>
							<h1>Hello {{name}}</h1>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">ng-bind</h2>
						</div>
						<div class="card-block">
							<div ng-app="" ng-init="firstName='John';lastName='Doe'">
								<p>姓名：{{firstName+" "+lastName}}</p>
								<p>姓名：<span ng-bind="firstName + ' ' + lastName"></span></p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">data-ng-app</h2>
						</div>
						<div class="card-block">
							<div data-ng-init="firstName='John'">
								<p>姓名为 <span data-ng-bind="firstName"></span></p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">表达式算式</h2>
						</div>
						<div class="card-block" ng-init="quantity=1;cost=5">
							<p>表达算数</p>
							<p>总价： {{ quantity * cost }}</p>
							<p>总价： <span ng-bind="quantity * cost"></span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-deck-wrapper m-t-3">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">AngularJS 应用</h3>
						</div>
						<div class="card-block">
							<div>
								<label for="">名: </label>
								<input type="text" ng-model="firstName"><br>
								<label for="">姓: </label>
								<input type="text" ng-model="lastName"><br>
								<p>姓名: {{firstName + " " + lastName}}</p>
							</div>

						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">AngularJS 对象</h3>
						</div>
						<div class="card-block">
							<div  ng-init="person={firstName:'John',lastName:'Doe'}">
								<p>姓为 {{ person.firstName }}</p>
								<p>名为 <span ng-bind="person.lastName"></span></p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">AngularJS 数组</h3>
						</div>
						<div class="card-block">
							<div ng-app="" ng-init="points=[1,15,19,2,40]">
								<p>第三个值为 {{ points[0] }}</p>
								<p>第三个值为 <span ng-bind="points[2]"></span></p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">数据绑定</h3>
						</div>
						<div class="card-block">
							<div ng-app="" ng-init="a=1;b=2">
								<h2>价格计算器</h2>
								<label for="">数量：</label>
								<input type="number" ng-model="a">
								<label>价格：</label>
								<input type="number" ng-model="b">
								<p><b>总价：</b>{{ a * b}}</p>
								<p><b>总价：</b><span ng-bind="a * b"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-deck-wrapper m-t-3">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">ng-repeat</h2>
						</div>
						<div class="card-block">
							<div ng-init="names=['Jani','Hege','Kai']">
								<p>使用 ng-repeat 来循环数组</p>
								<ul>
									<li ng-repeat="x in names">
										{{ x }}
									</li>
									</ul>
							</div>
							<div ng-init="names=[{name:'Jani','Hege','Kai'}]">
								<ul>
									<li ng-repeat="x in names">
										{{ x.name }}
									</li>
									<li ng-repeat="x in names">
										<span ng-bind="x.name"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">ng-repeat 数组</h2>
						</div>
						<div class="card-block">
							<div ng-init="names=[{name:'Jani',country:'Norway'},{name:'Hege',country:'Sweden'},{name:'Kai',country:'Denmark'}]">
								<p>循环对象：</p>
								<ul>
									<li ng-repeat="x in names">
										{{ x.name + ', ' + x.country }}
									</li>
								</ul>
							</div>
						</div>
					</div </div>
				</div>
			</div>

			<script>
				var app = angular.module('yhtml5', []); //AngularJS 模块定义应用
				app.controller('myCtrl', function($scope) { //AngularJS 控制器控制应用
					$scope.firstName = "John";
					$scope.lastName = "Doe";
				});
				app.directive("yhtml5Directive", function() {
					return {
						//restrict : "A",  //只限属性使用
						//restrict : "E",  //只限元素名使用
						//restrict : "C",  //必须设置 restrict 的值为 "C" 才能通过类名来调用指令
						//restrict : "M",  //必须设置 restrict 的值为 "M" 才能通过注释来调用指令
						//replace : true,  //必须添加 replace 属性，否则评论是不可见的(配合M?)
						//restrict 默认值为 EA, 即可以通过元素名和属性名来调用指令
						restrict:"ACEM",
						replace : true,
						template: "<h4 class='text-info'>自定义指令!</h4>"
					};
				});
			</script>

	</body>

</html>