<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../bootstrap.min.css" />
		<script src="../angular.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body ng-app="myApp">
		<div class="container m-t-3">
			<div class="card-deck-wrapper">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">AngularJS 过滤器</h3>
						</div>
						<div class="card-block">
							<p>用于转换数据</p>
							<ul>
								<li>currency丨格式化数字为货币格式</li>
								<li>filter丨从数组项选择一个子集</li>
								<li>orderBy丨根据某个表达式排列数组</li>
								<li>lowercase丨格式化字符串为小写</li>
								<li>uppercase丨格式化字符串为大写</li>
							</ul>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">过滤器</h3>
						</div>
						<div class="card-block" ng-controller="namesCtrl">
							<label for="">name:</label>
							<ul>
								<li ng-repeat="x in names">
									<span ng-bind="x.name|uppercase"></span>
								</li>
								<li ng-repeat="x in names">
									<span ng-bind="x.country |lowercase"></span>
								</li>
								<li ng-repeat="x in names">
									<span ng-bind="x.data | currency"> </span>
								</li>
							</ul>

							<h4 ng-bind="names[0].name | uppercase"></h4>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">指令过滤器</h3>
						</div>
						<div class="card-block" ng-controller="namesCtrl">
							<p>循环对象:</p>
							<ul>
								<li ng-repeat="x in names | orderBy:'data'">
									<span ng-bind="x.data"></span>-
									<span ng-bind="x.name"></span>-
									<span ng-bind="x.country"></span>
								</li><br>
								<li ng-repeat="x in names | orderBy:'name'">
									<span ng-bind="x.data"></span>-
									<span ng-bind="x.name"></span>-
									<span ng-bind="x.country"></span>
								</li><br>
								<li ng-repeat="x in names | orderBy:'country'">
									<span ng-bind="x.data"></span>-
									<span ng-bind="x.name"></span>-
									<span ng-bind="x.country"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--card-deck-->
			</div>
			<div class="card-deck-wrapper m-t-3">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">输入过滤</h3>
						</div>
						<div class="card-block" ng-controller="namesCtrl">
							<p>输入过滤器可以通过一个管道字符（|）和一个过滤器添加到指令中，该过滤器后跟一个冒号和一个模型名称</p>
							<input type="text" ng-model="test">
							<ul>
								<li ng-repeat="x in names | filter:test | orderBy:'data'">
									<span ng-bind="x.data"></span>-
									<span ng-bind="x.name"></span>-
									<span ng-bind="x.country"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--card-deck-->
			</div>
		</div>
		<script>
			//在大型应用程序中，通常是把控制器存储在外部文件
			angular.module('myApp', [])
				.controller('namesCtrl', function($scope) {
					$scope.names = [{
						name: 'jani',
						country: 'Norway',
						data: 1
					}, {
						name: 'kyle',
						country: "Janpen",
						data: 2
					}, {
						name: 'sweet',
						country: "China",
						data: 3
					}]
				})
		</script>
	</body>

</html>