<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../bootstrap.min.css" />
		<script src="../../angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="controller.js"></script>
	</head>

	<body ng-app="todoApp">
		<div class="container m-t-3">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Todo List</h3>
				</div>
				<div class="block">
					<div ng-controller="TodoListController as todoList">
						<span>总计：{{todoList.todos.length}}，未选中：{{todoList.remaining()}}</span>
						 [ <a href="" ng-click="todoList.archive()">archive</a> ]
						<ul class="unstyled">
							<li ng-repeat="todo in todoList.todos">
								<label class="checkbox">
                                    <input type="checkbox" ng-model="todo.done">
                                    <span>{{todo.text}}</span>
                                </label>
							</li>
						</ul>
						<form ng-submit="todoList.addTodo()">
							<input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
							<input class="btn btn-primary" type="submit" value="add">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>