<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../bootstrap.min.css" />
		<script src="../angular.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body ng-app="myApp" ng-controller="myCtrl">
		<div class="container m-t-3">
			<div class="card-deck-wrapper">
				<div class="card-deck">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">ng-click</h3>
						</div>
						<div class="card-block">
							<button class="btn btn-success" ng-click="count=count+1">Click me</button>
							<button class="btn btn-primary" ng-bind="count"></button>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">ng-hide</h3>
						</div>
						<div class="card-block">
							<p><button class="btn btn-info" ng-click="toggle()">hide</button>
								<button class="btn btn-danger" ng-click="toggle()">show</button>
							</p>
							<p ng-hide="myVar">
								<label for="">first name:</label>
								<input type="text" ng-model="firstName"><br>
								<label for="">last name:</label>
								<input type="text" ng-model="lastName"><br>
							</p>
							<p class="text-warning" ng-show="myVar">
								<span>Full name:</span>
								<span ng-bind="firstName"></span>-<span ng-bind="lastName"></span>
							</p>
						</div>
					</div>
					<!--card-deck-->
				</div>

			</div>
			<script>
				//在大型应用程序中，通常是把控制器存储在外部文件
				angular.module('myApp', [])
					.controller('myCtrl', function($scope, $http) {
						$scope.count = 10
						$scope.firstName = "hello"
						$scope.lastName = "world"
						$scope.myVar = false //默认属性
						$scope.toggle = function() {
							$scope.myVar = !$scope.myVar //切换变量
						}
					})
			</script>
	</body>

</html>